<!-- 搜索框 -->
<section class="search">
    <a href="#" class="search-content">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path fill-opacity=".38" d="M14.778 13.732a.739.739 0 1 1-1.056 1.036l-2.515-2.565a.864.864 0 0 1-.01-1.206 4.894 4.894 0 0 0 1.357-3.651c-.126-2.492-2.156-4.52-4.648-4.647a4.911 4.911 0 0 0-5.16 5.163c.126 2.475 2.13 4.496 4.605 4.642.451.026.896-.008 1.326-.1a.739.739 0 0 1 .308 1.446c-.56.12-1.137.164-1.72.13-3.227-.19-5.83-2.815-5.995-6.042a6.39 6.39 0 0 1 6.71-6.715c3.25.165 5.884 2.8 6.05 6.048a6.37 6.37 0 0 1-1.374 4.3l2.12 2.161z"></path>
        </svg>
        <span>搜索饿了么商家、商品名称</span>
    </a>
</section>

<!-- 顶部导航 -->
<section class="swiper-container top-swiper">
    <div class="swiper-wrapper">
        <div class="menu-nav swiper-slide">
            <a class="menu-nav-item" href="#">
                <img src="https://fuss10.elemecdn.com/7/d8/a867c870b22bc74c87c348b75528djpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/"
                    alt="">
                <span class="title">美食</span>
            </a>
            <a class="menu-nav-item" href="#">
                <img src="https://fuss10.elemecdn.com/c/7e/76a23eb90dada42528bc41499d6f8jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/"
                    alt="">
                <span class="title">商超便利</span>
            </a>
            <a class="menu-nav-item" href="#">
                <img src="https://fuss10.elemecdn.com/0/d0/dd7c960f08cdc756b1d3ad54978fdjpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/"
                    alt="">
                <span class="title">水果</span>
            </a>
            <a class="menu-nav-item" href="#">
                <img src="https://fuss10.elemecdn.com/7/a9/77ff360f7d3fde2d459727ad09fcfjpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/"
                    alt="">
                <span class="title">下午茶</span>
            </a>
            <a class="menu-nav-item" href="#">
                <img src="https://fuss10.elemecdn.com/7/0a/af108e256ebc9f02db599592ae655jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/"
                    alt="">
                <span class="title">医药健康</span>
            </a>
            <a class="menu-nav-item" href="#">
                <img src="https://fuss10.elemecdn.com/3/01/c888acb2c8ba9e0c813f36ec9e90ajpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/"
                    alt="">
                <span class="title">浪漫鲜花</span>
            </a>
            <a class="menu-nav-item" href="#">
                <img src="https://fuss10.elemecdn.com/c/21/e42997b86b232161a5a16ab813ae8jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/"
                    alt="">
                <span class="title">厨房生鲜</span>
            </a>
            <a class="menu-nav-item" href="#">
                <img src="https://fuss10.elemecdn.com/e/58/bceb19258e3264e64fb856722c3c1jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/"
                    alt="">
                <span class="title">跑腿代购</span>
            </a>
            <a class="menu-nav-item" href="#">
                <img src="https://fuss10.elemecdn.com/7/d6/6f2631288a44ec177204e05cbcb93jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/"
                    alt="">
                <span class="title">地方小吃</span>
            </a>
            <a class="menu-nav-item" href="#">
                <img src="https://fuss10.elemecdn.com/5/de/bebe83947afee0b0f38257b0e3866jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/"
                    alt="">
                <span class="title">签到领红包</span>
            </a>
        </div>
        <div class="menu-nav swiper-slide">
            <a class="menu-nav-item" href="#">
                <img src="https://fuss10.elemecdn.com/a/8a/ec21096d528b7cfd23cdd894f01c6jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/"
                    alt="">
                <span class="title">地方菜系</span>
            </a>
            <a class="menu-nav-item" href="#">
                <img src="https://fuss10.elemecdn.com/e/c7/b7ba9547aa700bd20d0420e1794a8jpeg.jpeg?imageMogr/format/webp/thumbnail/!90x90r/gravity/Center/crop/90x90/"
                    alt="">
                <span class="title">麻辣烫</span>
            </a>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</section>

<!-- 套餐加抢购 -->
<section class="other-activity">
    <div class="main-activity">
        <div class="combo">
            <h3>品质套餐</h3>
            <div class="description">搭配齐全吃得好</div>
            <p>立即抢购&nbsp;></p>
            <img src="https://fuss10.elemecdn.com/d/d4/16ff085900d62b8d60fa7e9c6b65dpng.png?imageMogr/format/webp/thumbnail/!240x160r/gravity/Center/crop/240x160/"
                alt="">
        </div>
        <div class="purchase">
            <h3>限量抢购</h3>
            <div class="description">超值美味&nbsp;9.9元起</div>
            <p><span>3369人</span>正在抢&nbsp;></p>
            <img src="https://fuss10.elemecdn.com/b/e1/0fa0ed514c093a7138b0b9a50d61fpng.png?imageMogr/format/webp/thumbnail/!240x160r/gravity/Center/crop/240x160/"
                alt="">
        </div>
    </div>
    <div class="bottom-swiper swiper-container">
        <div class="swiper-wrapper">
            <img src="https://fuss10.elemecdn.com/0/8e/4c868669517697e5ce9f97eb8335ajpeg.jpeg?imageMogr/format/webp/thumbnail/568x/"
                alt="" class="swiper-slide">
            <img src="https://fuss10.elemecdn.com/3/81/10542f410b30f939574d01ac39208jpeg.jpeg?imageMogr/format/webp/thumbnail/568x/"
                alt="" class="swiper-slide">
            <img src="https://fuss10.elemecdn.com/4/4a/8194420774fb55cb7981dd99b4367jpeg.jpeg?imageMogr/format/webp/thumbnail/568x/"
                alt="" class="swiper-slide">
            <img src="https://fuss10.elemecdn.com/d/c9/4f49375dcaf53b151616e49c85a31jpeg.jpeg?imageMogr/format/webp/thumbnail/568x/"
                alt="" class="swiper-slide">
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<!-- 推荐商家 -->
<section class="shoplist-title">推荐商家</section>

<!-- 分类 -->
<section class="filter-header">
    <a href="#" class="filter-nav">
        综合排序
        <svg data-v-a5cc4024="" viewBox="0 0 72 32" class="dropdown-icon">
            <path data-v-a5cc4024="" d="M36 32l36-32h-72z"></path>
        </svg>
    </a>
    <a href="#" class="filter-nav">
        距离最近
    </a>
    <a href="#" class="filter-nav">
        品质联盟
    </a>
    <a href="#" class="filter-nav">
        筛选
        <svg viewBox="0 0 26 26" class="more-filter">
            <path d="M9.001 15.009V23a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7.981l7.788-10.01a1 1 0 0 0-1.578-1.228l-8 10.28a1 1 0 0 0-.21.615V22h-4v-7.324a1 1 0 0 0-.2-.6L4.001 5h14a1 1 0 0 0 0-2H2a1 1 0 0 0-.8 1.6L9 15.009z"></path>
        </svg>
    </a>
</section>