{{#each shoplist}}
<section class="shoplist-item">
    <div class="shop-info">
        <img src="{{this.img_src}}"
            alt="" class="shopInfo-img">
        <div class="shopInfo-main">
            <div class="shopInfo-main-title">
                <h3>{{this.name}}</h3>
                <span>···</span>
            </div>
            <div class="grade">
                <div class="star"></div>
                <span class="star-grade">{{this.rating}}</span>
                <span class="sale">月售{{this.recent_order_num}}单</span>
            </div>
            <div class="distance">
                <div class="distance-left">
                    <span class="delivery-base-price">￥{{this.delivery_base_price}}起送</span>
                    <span class="far-delivery-price">远距离配送费￥{{this.delivery_far_price}}</span>
                </div>
                <div class="distance-right">
                    <span class="delivery-distance">{{this.distance}}km</span>
                    <span class="delivery-time">{{this.order_lead_time}}分钟</span>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-discounts">
        <div class="description">
            <span>简餐</span>
            <span>品质联盟</span>
        </div>
        <div class="shop-activity">
            <div class="shop-activity-list">
                <div class="shop-activity-list-item">
                    <span class="icon">首</span>
                    <span class="about">新用户下单立减{{this.first_order_discounts}}元</span>
                </div>
                <div class="shop-activity-list-item">
                    <span class="icon">减</span>
                    <span class="about">满22减11，满35减16，满48减22，满90减30</span>
                </div>
            </div>
            <div class="shop-activity-btn">
                <span>9个活动</span>
                <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjOTk5IiBkPSJNNC41NzcgNS40MjNjLjc5Ljc3IDIuMDczLjc2NyAyLjg1NyAwbDQuMTItNC4wMjZDMTIuMzQ1LjYyNSAxMi4wOSAwIDEwLjk4NSAwSDEuMDI3Qy0uMDc3IDAtLjMzLjYzLjQ1NyAxLjM5N2w0LjEyIDQuMDI2eiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+"
                    class="">
            </div>
        </div>
    </div>
</section>

{{/each}}