<div class="login__after">
    <section class="bkg_img">
        <img src="//fuss10.elemecdn.com/8/c8/bbe5984003cb26fc7b445a4a15195png.png">
        <h3>近三个月无外卖订单记录</h3>
    </section>
    <div class="checkout">
        <p class="_look">查看近三个月前的外卖订单
            <svg data-v-1ec2d114="" class="limited-svg"><use data-v-1ec2d114="" xlink:href="#arrow-right">
                <svg viewBox="0 0 547 987" id="arrow-right" width="100%" height="100%"><path fill="#999" fill-rule="evenodd" d="M0 931.973l51.2 54.613 494.933-494.933L51.2.133 0 51.333l440.32 440.32L0 931.973z"></path></svg>
            </use></svg>
        </p>
    </div>
    
    <div id="order_data">
        <div class="data">
            <div class="order_detail">
                <div class="shop_logo">
                    <img src="https://fuss10.elemecdn.com/1/32/c75a72f674052473fb35b5c8ab1d7jpeg.jpeg?imageMogr/format/webp/thumbnail/!130x130r/gravity/Center/crop/130x130/" alt="" class="shopInfo-img">
                </div>
                <div class="shop_detail">
                    <div class="_shop_detail">
                        <div class="location_detail">
                            <a href="javascript:void(0);" class="location">
                                <span>姚记麻辣串</span>
                                <svg data-v-54bf175d="" class="_left"><use data-v-54bf175d="" xlink:href="#arrow-right">
                                        <svg viewBox="0 0 547 987" id="arrow-right" width="100%" height="100%"><path fill="#999" fill-rule="evenodd" d="M0 931.973l51.2 54.613 494.933-494.933L51.2.133 0 51.333l440.32 440.32L0 931.973z"></path></svg>
                                </use></svg>
                            </a>
                            <p class="stats">
                                订单已送达
                            </p>
                        </div>
                        <p class="date_time">
                            2018-01-29 27:10
                        </p>
                    </div>
                    <div class="goods_detail">
                        <span class="goods">小饼2个等6件商品</span>
                        <span class="price">￥10.70</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login_before">
    <section class="bkg_img">
        <img src="//fuss10.elemecdn.com/d/60/70008646170d1f654e926a2aaa3afpng.png">
        <h3>登录后查看外卖订单</h3>
        <button class="login">立即登录</button>
    </section>
</div>