@import './reset';
@import './index';

body{
    height: 100%;
}
// 顶部定位
header{
    background: linear-gradient(90deg,#0af,#0085ff);
    color: #fff;
}

// 底部
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 0.12rem;
    height: 1.2133rem;
    background-color: #fff;
    box-shadow: 0 -0.0267rem 0.0533rem rgba(0,0,0,.1);
    a{
        display: flex;
        width: 25%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        svg{
            width: 0.5333rem;
            height: 0.5333rem;
            path{
                fill: #8e8e93;
            }
        }
        span{
            color: #8e8e93;
            font-size: 0.2667rem;
            line-height: 0.32rem;
            margin-top: 0.0933rem;
        }
    }
    a.active{
        svg path{
            fill: #0089dc;
        }
        span{
            color: #0089dc;
        }
    }
}
